.bg-marco {
    background-image: url(../img/paisagem-espaco.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.bg-linear {
    background-image: linear-gradient(to left top, #2d3436, #636e72);
}